################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api/.vs/WebApplication
/Api/DTO/bin/Debug/netcoreapp3.1
/Api/DTO/obj
/Api/Entities/bin/Debug/netcoreapp3.1
/Api/Entities/obj
/Api/Services/bin/Debug/netcoreapp3.1
/Api/Services/obj
/Api/WebApplication/bin/Debug/netcoreapp3.1
/Api/WebApplication/obj
