<div class="card mt-4">
    <h4 class="card-header">You're logged in with Angular 10 & JWT!!</h4>
    <div class="card-body">
        <h6>Danh sách người dùng</h6>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <li>Họ tên | Địa chỉ</li>
            <li *ngFor="let user of users">{{user.UserName}} | {{user.Address}}</li>
        </ul>
        <div class="position-relative is-img">
            <img src="../../assets/img/mau-giuong-ngu-3.jpg" alt="mẫu dường ngủ 3" class="w-100">
            <button type="button" class="btn btn-info btn-info-img" ngbTooltip="Đèn đẹp nhé!" triggers="hover:blur"></button>
        </div>
    </div>
</div>